<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/master.css">
  <link rel="shortcut icon" href="./favicon/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" rel="stylesheet">
  <title>MakaTalk</title>
</head>

<body>

  {{{content}}}

  <script src="./session-storage.js"></script>
  <script src="./confirm-survey.js"></script>

</body>

</html>
