/*remove default styles*/

body, html {
  margin: 0;
  color: white;
  background: #5144af;
  font-family: 'Open Sans', sans-serif;
}
/* nav styles */
nav {
  border-bottom: solid white .1em;
  background: #6b5da4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  list-style: none;
  background: inherit;
  font-size: 1.5em;
}
.makatalk-logo {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
}
.nav-arrow {
  background: inherit;
  height: 1.6em;
}
.dialogue-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 400px;
  background: white;
  color: #5144af;
  border-radius: .5em;
  margin-top: 6em;
  text-align: center;
}
.dialogue-box-heading {
  background: inherit;
  color: #5144af;
  font-size: 2em;
  margin-bottom: .5em;
}
.dialogue-box-input {
  background: inherit;
  border: solid #5144af .1em;
  border-radius: .5em;
  margin: auto;
  width: 100%;
  font-size: 1.5em;
}
.dialogue-box-text {
  background: inherit;
  text-align: left;
  font-size: 1.5em;
  line-height: 2em;
  color: #5144af;
}
.main-video {
  height: 20em;
  width: 36em;
  max-width: 960px;
  margin: 2em auto;
}
.thumbnail-caption {
  text-align: center;
}
.thumbnail-options {
  width: 900px;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.thumbnail-options figure {
  display: inline-block;
  margin: 1em;
  padding: 0;
  height: auto;
  width: 100%;
}
.two-options figure {
  margin: 6em;
}
.img-options {
  width: 100%;
}
.select-survey-button, #submit-survey-button {
  border-style: none;
  border-radius: .5em;
  width: 75%;
  margin: auto;
  font-size: 2em;
  color: white;
}
#pre-session-button {
  background: #5144af;
}
#post-session-button {
  margin-top: 1em;
  background: #d90368;
}
#confirm-survey-button {
  background: #d90368;
}
#submit-login-button, #submit-survey-button {
  margin-top: 1em;
  background: #d90368;
  width: 100%;
}
#insert-survey {
  background: inherit;
  color: #009a7b;
  text-decoration: underline;
}
#insert-answers {
  text-align: left;
}
.highlighted-option {
  border: solid red 2em;
}
