* {
  margin: 0;
}

nav {
  border-bottom: solid black .1em;
  background: silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

nav li {
  list-style: none;
}

.back-icon {
  height: 1em;
}
