/*remove default styles*/

* {
  margin: 0;
}

.fill-screen-height {
  height: 100vh;
}

/* nav styles */

nav {
  border-bottom: solid black .1em;
  background: silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

nav li {
  list-style: none;
}

.back-icon {
  height: 1em;
}

/*style all dialogue boxes*/

.dialogue-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}
.main-video {
  border: solid black .5em;
  background: silver;
  height: 20em;
  width: 35em;
  max-width: 960px;
  margin: auto;
  margin-top: 5em;
}
.video-caption {
  text-align: center;
  padding-top: 1em;
}
