{{>nav-bar}}
<div class="dialogue-box fill-screen-height">
   <h1 class="select-survey-heading">You have chosen {insert survey}.</h1></br>
   <button type="button" name="button" id="confirm-survey">OK</button>
</div>
