{{>nav-bar}}
<div class="dialogue-box fill-screen-height">
   <h1 class="dialogue-box-heading">You have chosen the</br>
     <span id="insert-survey"></span> survey.</h1></br>
   <button type="button" name="button" class="select-survey-button" id="confirm-survey-button">OK</button>
</div>
