{{>nav-bar}}
<div class="dialogue-box fill-screen-height">
  <h2>You have chosen {insert survey name}.</h2>
  <p>Confirm survey? You will automatically be logged out.</p>
  <button type="button" name="button">OK</button>
</div>
