{{>nav-bar-info}}
<div class="fill-screen-height information-blurb">
  <h1>Welcome to MakaTalk</h1></br>
   <p>MakaTalk is an iPad app that uses Makaton sign language to help young people with learning difficulties to express their thoughts and feelings more clearly before and after a therapy session.</p>
   <p>It is intended to replace the existing paper forms that patients are expected to fill out. These forms tend to capture less accurate data because they are often filled out by a parent or guardian instead of the young person. MakaTalk is more engaging and tactile.</p>
   <p>There are two touch screen surveys to choose from.</p>
   <p>The pre-session survey is for assessing a young person's mental and emotional wellbeing before they go into a therapy session. It asks how they are feeling at home and school, for example.</p>
   <p>The post-session survey is for checking what the young person thought about their therapy session. It asks if they felt understood by the clinician, for example.</p>
   <p>The answers are stored temporarily and without a patient name to protect anonymity. The clinician can reference this anonymous data immediately after the survey has been completed. They also have the option to send a survey report to their own email address. When MakaTalk is closed, current patient data will be deleted.
</div>
