{{>nav-bar-info}}
<div class="dialogue-box fill-screen-height">
  <h1 class="dialogue-box-heading">Welcome to MakaTalk</h1></br>
   <p>MakaTalk is an app to be used on your tablet. It uses Makaton sign language to help young people with learning difficulties to express their thoughts and feelings more clearly.</p>
   <p>There are two surveys to choose from. The pre-session survey is for assessing a young person's mental and emotional wellbeing before they go into a therapy session. It asks how they are feeling at home and school, for example. The post-session survey is for checking what the young person thought about their therapy session.</p>
</div>
