<div id="survey-intro-conclusion-wrapper">
  {{>main-video}}
</div>
<div id="ok-instructions-button">
  OK
</div>
<script type="text/javascript">
  var playlist_id = 'PLpPmZmHyOS_MK8E8DPmnabAKxRzoa7XdI';
</script>
