
<div class="fill-screen-height">

  <div class="dialogue-box fill-screen-height">
      <h2 class="dialogue-box-heading">Survey Results</h2>
    <p class="dialogue-box-text">Answers:<span id="insert-answers"></span></p>
  </div>

</div>
