
<div class="fill-screen-height">

  <div class="dialogue-box fill-screen-height">
      <h2 class="dialogue-box-heading">Survey results </br>(<span id="survey-type"></span>)</h2>
      <p id="insert-answers"></p>
      <a href="#">
      <button type="button" name="button" id="send-results-button">Send results to my email</button>
      </a>
      <button type="button" name="button" id="done-button">Finish</button>
  </div>

</div>
