
<div class="fill-screen-height">

  <div class="dialogue-box fill-screen-height">
    <div id="insert-answers">
      <h2 class="dialogue-box-heading">Survey results </br>(<span id="survey-type"></span>)</h2>
    </div>
    <div class="">
      <a href="#"
      <button type="button" name="button" id="send-results-button">Send results to my email</button>
      </a>
      <button type="button" name="button" id="done-button">Done</button>
      <p>All patient data will be cleared.</p>
      <button type="button" name="button" id="clear-data-button"></button>
    </a>
    </div>
</div>

</div>
