{{>nav-bar}}
<div class="dialogue-box fill-screen-height">
   <h1 class="dialogue-box-heading">Select a survey</h1></br>
   <button type="button" name="button" class="select-survey-button" id="pre-session-button">pre-session</button>
   <button type="button" name="button" class="select-survey-button" id="post-session-button">post-session</button>
</div>
