{{>nav-bar}}
<div class="dialogue-box fill-screen-height">
   <h1 class="select-survey-heading">Select a survey</h1></br>
   <button type="button" name="button">pre-session</button>
   <button type="button" name="button">post-session</button>
</div>
