<div class="fill-screen-height">

  <div class="dialogue-box fill-screen-height">
    <h2 class="dialogue-box-heading">All patient data from the previous session has been deleted.
    <p><a href="./select-survey">Return to Home</a></p>
  </div>

</div>
