<div>
  {{>main-video}}
</div>
<div class="ok-submit-survey">
  <button type="submit" name="submit-button" id="submit-survey-button">OK</button>
</div>
<script type="text/javascript">
   var playlist_id = 'PLpPmZmHyOS_PiPU3NjPS1bgrjupS0GXvn';
</script>
