<section class="thumbnail-options">

  <figure id="very-good-option">
    <img src="./imgs/very-good.jpg" alt="choose VERY GOOD" class="img-options">
    <figcaption class="thumbnail-caption">Very Good</figcaption>
  </figure>

  <figure id="good-option">
    <img src="./imgs/good.jpg" alt="choose GOOD" class="img-options">
    <figcaption class="thumbnail-caption">Good</figcaption>
  </figure>

  <figure id="ok-option">
    <img src="./imgs/ok.jpg" alt="choose OK" class="img-options">
    <figcaption class="thumbnail-caption">OK</figcaption>
  </figure>

  <figure id="bad-option">
    <img src="./imgs/bad.jpg" alt="choose BAD" class="img-options">
    <figcaption class="thumbnail-caption">Bad</figcaption>
  </figure>

  <figure id="very-bad-option">
    <img src="./imgs/very-bad.jpg" alt="choose VERY BAD" class="img-options">
    <figcaption class="thumbnail-caption">Very Bad</figcaption>
  </figure>

</section>
