<div class="videos-container">
  <div class="five-videos placeholder-video">
  </div>
  <div class="five-videos placeholder-video">
  </div>
  <div class="five-videos placeholder-video">
  </div>
  <div class="five-videos placeholder-video">
  </div>
  <div class="five-videos placeholder-video">
  </div>
</div>
