<div class="videos-container">

<div class="five-videos" id="very-good-option">
  <div class="placeholder-video">
  </div>
  <p class="video-caption">Very good</p>
</div>

<div class="five-videos" id="good-option">
  <div class="placeholder-video">
  </div>
  <p class="video-caption">Good</p>
</div>

<div class="five-videos" id="ok-option">
  <div class="placeholder-video">
  </div>
  <p class="video-caption">OK</p>
</div>

<div class="five-videos" id="bad-option">
  <div class="placeholder-video">
  </div>
  <p class="video-caption">Bad</p>
</div>

<div class="five-videos" id="very-bad-option">
  <div class="placeholder-video">
  </div>
  <p class="video-caption">Very bad</p>
</div>

</div>
