<section class="videos-container">

  <figure id="very-good-option" class="video-thumbnail">
    <iframe  src="https://www.youtube.com/embed/4iejxMu4I5w?modestbranding=1&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">Very Good</figcaption>
  </figure>

  <figure id="good-option" class="video-thumbnail">
    <iframe  src="https://www.youtube.com/embed/3E5gKR7_07o?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">Good</figcaption>
  </figure>

</section>

<section class="videos-container">
  
  <figure id="ok-option" class="video-thumbnail">
    <iframe  src="https://www.youtube.com/embed/hsGRsOdvstQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">OK</figcaption>
  </figure>

  <figure id="bad-option" class="video-thumbnail">
    <iframe  src="https://www.youtube.com/embed/UQos9AJOhgY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">Bad</figcaption>
  </figure>

  <figure id="very-bad-option" class="video-thumbnail">
    <iframe  src="https://www.youtube.com/embed/iPQIm3ltHjo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">Very Bad</figcaption>
  </figure>

</section>
