  <div class="dialogue-box fill-screen-height">
    <p>Please re-enter your login details to view the results.</p>
    Email:
    <input type="text" name="email">
    Password:
    <input type="text" name="password">
    <input type="submit" name="submit" value="submit">
  </div>
