<div class="fill-screen-height">

  <div class="dialogue-box fill-screen-height">
    <h2 class="dialogue-box-heading">Please enter your email to view the results.</h2>
    <form>
      <p class="dialogue-box-text">Email:</p>
      <input type="text" name="email" class="dialogue-box-input" autocomplete="on" required id="clinician-email-input">
      <input type="submit" name="submit" value="submit" class="select-survey-button" id="submit-survey-button">
    </form>
  </div>

</div>
