<div class="fill-screen-height">

  <div class="dialogue-box fill-screen-height">
    Email:
    <input type="text" name="email" class="login-input">
    Password:
    <input type="text" name="password" class="login-input">
    <input type="submit" name="submit" value="submit" class="dialogue-box-button" id="login-button">
  </div>

</div>
