  <section class="videos-container">

    <figure class="main-video placeholder-video">
      <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
      <figcaption class="video-caption"></figcaption>
    </figure>

  </section>
