<nav>
  <li><a href="./select-survey"><img src="./imgs/left-arrow.svg" alt="" id='arrow-back'><a></li>
  <li><a href="./select-survey"><img src="./imgs/letter-x.svg" alt="" id='exit-information'></a></li>
</nav>
