<div class="dialogue-box">
    <h1 class="select-survey-heading">Start a new survey</h1></br>
    <button type="button" name="button" class= "dialogue-box-button" id="pre-session-button">pre-session</button>
    <button type="button" name="button" class= "dialogue-box-button" id="post-session-button">post-session</button>
</div>
