<div class="videos-container">
  <div class="three-videos placeholder-video">
  </div>
  <div class="three-videos placeholder-video">
  </div>
  <div class="three-videos placeholder-video">
  </div>
</div>
