<section class="thumbnail-options">

  <figure id="yes-agree">
    <img src="./imgs/yes.jpg" alt="choose YES!" class="img-options">
    <figcaption class="thumbnail-caption">Yes</figcaption>
  </figure>

  <figure class="video-thumbnail" id="maybe">
    <img src="./imgs/maybe.jpg" alt="choose MAYBE" class="img-options">
    <figcaption class="thumbnail-caption">Maybe</figcaption>
  </figure>

  <figure id="no-disagree">
    <img src="./imgs/no.jpg" alt="choose NO!" class="img-options">
    <figcaption class="thumbnail-caption">No</figcaption>
  </figure>

</section>
