<div class="videos-container">

  <div class="three-videos" id="yes-agree">
    <div class="placeholder-video">
    </div>
    <p class="video-caption">Yes</p>
  </div>

  <div class="three-videos" id="no-disagree">
    <div class="placeholder-video">
    </div>
    <p class="video-caption">No</p>
  </div>

  <div class="three-videos" id="maybe">
    <div class="placeholder-video">
    </div>
    <p class="video-caption">Maybe</p>
  </div>

</div>
