<section class="thumbnail-options two-options">

  <figure id="yes-consent">
    <img src="./imgs/yes.jpg" alt="Choose YES!" class="img-options">
    <figcaption class="thumbnail-caption">Yes</figcaption>
  </figure>

  <figure id="no-consent">
    <img src="./imgs/no.jpg" alt="Choose NO!" class="img-options">
    <figcaption class="thumbnail-caption">No</figcaption>
  </figure>

</section>
