<div class="videos-container">

  <div class="two-videos">
    <div class="placeholder-video">
    </div>
    <p class="video-caption">Yes</p>
  </div>

  <div class="two-videos">
    <div class="placeholder-video">
    </div>
    <p class="video-caption">No</p>
  </div>

</div>
