<section class="videos-container">

  <figure class="two-videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_htQRTyME2c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">Yes</figcaption>
  </figure>

  <figure class="two-videos">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8GmOCfIAc6U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <figcaption class="video-caption">No</figcaption>
  </figure>

</section>
